<% include ./partials/header %>

<!-- JUMBOTRON  --------------------------------------------------->
    <div class="jumbotron" id="jumbo2">
      <div class="img-fluid" id="jumbo2_img">
        <div class="container content p-4 py-5" id="jumbo2_content">
          <h1 class="display-1">Jhm Schedule</h1>
          <h4 class="display-4">Be there or be square!</h4>
          <hr class="my-4">
          <h4 class="display-4">Download Spring and Summer calendars below!</h4>
          <div class="px-5">
            <a class="btn btn-primary btn-md mr-4 px-3" target="blank" href="/pdfs/JH_cal_spring_2019.pdf" role="button">Spring</a>
            <a class="btn btn-primary btn-md ml-4" target="blank" href="/pdfs/JHM_cal_summer_2019_legal.pdf"role="button">Summer</a>
          </div>
        </div> 
      </div>
    </div>
    

    <!-- UPCOMING EVENTS CARDS --------------------------------------->
    <div class="row">
        <!-- left margin -->
        <div class="col-sm-1 col-lg-2"></div>
        <!-- center content -->
        <div class="col-sm-10 col-lg-8">
          <div class="container">
            <h2 class="display-2 mt-3" style="background: #E0CDB5; text-align: center; border-radius: 40px;">Upcoming Events</h2>
            
            <!--UPCOMING EVENT DISPLAY LOGIC------------------------------------------------------------------------->
            <%const events = [
              {date: "3", month: "April", name: "Core Group Night In"},
              {date: "5-6", month: "April", name: "Twenty-Four Retreat"},
              {date: "7", month: "April", name: "JHM"},
              {date: "10", month: "April", name: "JHM Lip Sync"},
              {date: "14", month: "April", name: "JHM"},
              {date: "17", month: "April", name: "JHM"},
              {date: "21", month: "April", name: "NO JHM"},
              {date: "24", month: "April", name: "JHM"},
              {date: "28", month: "April", name: "JHM"},
              {date : "1", month : "May", name : "JHM"},
              {date : "5", month : "May", name : "Parent Info Mtg."},
              {date : "8", month : "May", name : "JHM"},
              {date : "12", month : "May", name : "JHM"},
              {date : "15", month : "May", name : "JHM"},
              {date : "18", month : "May", name : "8th Grade Grad"},
              {date : "18", month : "May", name : "Roots Party"},
              {date : "19", month : "May", name : "JHM"},
              {date : "19", month : "May", name : "8th Grade Send Off"},
              {date : "22", month : "May", name : "No JHM"},
              {date : "26", month : "May", name : "No JHM"},
              {date : "29", month : "May", name : "No JHM"},
              {date : "2", month : "June", name : "Kick Off"},
              {date : "2", month : "June", name : "Backyard Baptism"},
              {date : "2", month : "June", name : "Park Day 1:30-3"},
              {date : "5", month : "June", name : "JHM Camp-Out"},
              {date : "5", month : "June", name : "Kick-Off"},
              {date : "9", month : "June", name : "JHM"},
              {date : "12", month : "June", name : "JHM Camelot"},
              {date : "16", month : "June", name : "JHM"},
              {date : "17-18", month : "June", name : "7th Grade Shenanigans"},
              {date : "19", month : "June", name : "Karaoke"},
              {date : "23", month : "June", name : "JHM w/ HSM"},
              {date : "23", month : "June", name : "Hume Sunday"},
              {date : "23-29", month : "June", name : "Hume Lake"},
              {date : "26", month : "June", name : "NO JHM"},
              {date : "30", month : "June", name : "JHM w/ HSM"},
              {date : "1-6", month : "July", name : "NO JHM (Siesta)"},
              {date : "7", month : "July", name : "JHM"},
              {date : "8-11", month : "July", name : "VBS"},
              {date : "12", month : "July", name : "JHM Beach Day"},
              {date : "14", month : "July", name : "JHM"},
              {date : "15-19", month : "July", name : "Trek"},
              {date : "17", month : "July", name : "Pool Party"},
              {date : "21", month : "July", name : "JHM"},
              {date : "24", month : "July", name : "JHM N.O.W."},
              {date : "27", month : "July", name : "Rise"},
              {date : "27", month : "July", name : "Rainbow Express"},
              {date : "31", month : "July", name : "Movie Night"},
              {date : "4", month : "August", name : "JHM"},
              {date : "7", month : "August", name : "Summer Share Night"},
              {date : "9", month : "August", name : "JHM Beach Day"},
              {date : "11", month : "August", name : "JHM"},
              {date : "14", month : "August", name : "NO JHM"},
              {date : "18", month : "August", name : "Family Sunday"},
              {date : "21", month : "August", name : "NO JHM"},
              {date : "25", month : "August", name : "Fall Kick Off"},
              {date : "25", month : "August", name : "Beach Baptism"},
              {date : "28", month : "August", name : "JHM"},
              {date : "30-31", month : "August", name : "Champions Camp-Out"}
              ]; %>
            <% const monthNames = ["January", "February", "March", "April", "May", "June", 
             "July", "August", "September", "October", "November", "December"
             ];%>
            <%var date = new Date();
              var todaysDate = date.getUTCDate();
              var todaysMonth = date.getMonth(); %>
            <% var upcomingEvents = [] %>
            
            <!--THIS IS OUR UPCOMING EVENTS FUNCTION-->
            
             <!--cycle through events collection-->
            <% events.forEach(function(event) { 
                // convert event month into a number
                var eventMonth = monthNames.indexOf(event.month);
                // check for hyphenated dates
                  if (event.date.length > 2) {
                      // split dates by hyphen
                      var split = event.date.split("-");
                      // keep the last date, take last element in array
                      var eventDate = Number(split[split.length-1]);
                  }
                  else {
                  // convert day to number
                  var eventDate = Number(event.date);
                  }
                  
                  // check if event month >= todays month
                  if (eventMonth == todaysMonth && eventDate >= (todaysDate-1)) {
                      upcomingEvents.push(event);
                  }
                  else if (eventMonth > todaysMonth) {
                    upcomingEvents.push(event);
                  }
              }); %>
              
              <!--END UPCOMING EVENTS LOGIC ---------------------------------------------------------------------->
              
              
            <!-- row for cards -->
            <div class="row my-4 no-gutters">
                <!-- card 1 -->
                <div class="col-4">
                    <div class="card rounded-circle cal_card shadow-sm" id="event1">
                      <div class="card-body d-flex flex-column justify-content-center">
                        <h2 class="display-2 card-title"><%= upcomingEvents[0].date %></h2>
                        <p class="card-subtitle"><%= upcomingEvents[0].month %></p>
                        <p class="card-text"><%= upcomingEvents[0].name %></p>
                      </div>
                    </div>
                </div>

                <!-- card 2 -->
                <div class="col-4">
                    <div class="card rounded-circle cal_card shadow-sm" id="event2">
                      <div class="card-body d-flex flex-column justify-content-center">
                        <h2 class="display-2 card-title"><%= upcomingEvents[1].date %></h2>
                        <p class="card-subtitle"><%= upcomingEvents[1].month %></p>
                        <p class="card-text"><%= upcomingEvents[1].name %></p>
                      </div>
                    </div>
                </div>

                <!-- card 3 -->
                <div class="col-4">
                    <div class="card rounded-circle cal_card shadow-sm" id="event3">
                      <div class="card-body d-flex flex-column justify-content-center">
                        <h2 class="display-2 card-title"><%= upcomingEvents[2].date %></h2>
                        <p class="card-subtitle"><%= upcomingEvents[2].month %></p>
                        <p class="card-text"><%= upcomingEvents[2].name %></p>
                      </div>
                    </div>
                </div>
            </div> 


            <h2 class="display-2 mt-3" style="background: #E0CDB5; text-align: center; border-radius: 40px;">Event List</h2>

            <!-- ACCORDION SCEDULE --------------------------------------------------------------------->
            <div class="accordion my-4 shadow-sm" id="accordionExample">
              

              <!-- MAY -->
              <div class="card accordion_link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="card-header" id="headingTwo">
                  <h3 class=" display-3 mb-0 d-flex justify-content-center">May
                  </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body accordion_body">
                     <!--row 1 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"><strong>Sunday:</strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around px-5 align-items-center">
                        <p>05: <br> JHM & Parent Info Mtg</p>
                        <p>12: <br> JHM</p>
                        <p>19: <br> JHM & 8th Send Off</p>
                        <p>26: <br> NO JHM (family sunday)</p>
                      </div>
                    </div>

                     <!--row 2 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"
                        id="small_show"><strong>Weds: </strong></p>
                        <p id = "large_show" class="text-center"><strong>Wednesdays: </strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around align-items-center">
                        <p>01: <br> JHM</p> 
                        <p>08: <br> JHM</p>
                        <p>15: <br> JHM</p>
                        <p>22: <br> NO JHM</p>
                        <p>29: <br> NO JHM</p>
                      </div>
                    </div>
                     <!--row 3 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"><strong>Events:</strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around px-5 align-items-center">
                        <p>18:<br> 8th Grade Graduation & Roots Celebration</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

               <!--JUNE -->
              <div class="card accordion_link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="card-header" id="headingThree">
                  <h3 class="display-3 mb-0 d-flex justify-content-center">June
                  </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body accordion_body">
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"><strong>Sunday:</strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around px-5 align-items-center">
                        <p>02: <br> Kick-Off & Baptism & Park Day</p>
                        <p>09: <br> JHM</p>
                        <p>16: <br> JHM</p>
                        <p>23: <br> Hume Sunday</p>
                        <p>30: <br> JHM with HSM</p> 
                      </div>
                    </div>

                     <!--row 2 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"
                        id="small_show"><strong>Weds: </strong></p>
                        <p id = "large_show" class="text-center"><strong>Wednesdays: </strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around align-items-center">
                        <p>05: <br> JHM Camp-Out Kick Off</p>
                        <p>12: <br> JHM Camelot</p>
                        <p>19: <br> JHM Karaoke</p>
                        <p>26: <br> NO JHM</p>
                      </div>
                    </div>
                     <!--row 3 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"><strong>Events:</strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around px-5 align-items-center">
                        <p>17-18: <br> 7th grade Shenanigans</p>
                        <p>23-29: <br> Hume Lake</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

               <!--JULY -->
              <div class="card accordion_link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="card-header" id="headingFour">
                  <h3 class="display-3 mb-0 d-flex justify-content-center">July
                  </h3>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body accordion_body">
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"><strong>Sunday:</strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around px-5 align-items-center">
                        <p>07: <br> JHM</p>
                        <p>14: <br> JHM</p>
                        <p>21: <br> JHM</p>
                        <p>28: <br> JHM</p> 
                      </div>
                    </div>

                     <!--row 2 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"
                        id="small_show"><strong>Weds: </strong></p>
                        <p id = "large_show" class="text-center"><strong>Wednesdays: </strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around align-items-center">
                        <p>03: <br> NO JHM</p>
                        <p>10: <br> NO JHM</p>
                        <p>17: <br> JHM Pool Party</p>
                        <p>24: <br> JHM N.O.W.</p>
                        <p>31: <br> Movie Night</p>
                      </div>
                    </div>
                     <!--row 3 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"><strong>Events:</strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around px-5 align-items-center">
                        <p>01-06: <br>Siesta</p>
                        <p>08-11: <br> VBS</p>
                        <p>12: <br> JHM Beach Day</p>
                        <p>15-19: <br> Trek</p>
                        <p>27-8/3: <br> Rise/ Rainbow Express</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

               <!--AUGUST -->
              <div class="card accordion_link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div class="card-header" id="headingFive">
                  <h3 class="display-3 mb-0 d-flex justify-content-center">August
                  </h3>
                </div>

                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="card-body accordion_body">
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"><strong>Sunday:</strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around px-5 align-items-center">
                        <p>04: <br> JHM</p>
                        <p>11: <br> JHM</p>
                        <p>18: <br> Family Sunday</p>
                        <p>25: <br> Fall Kick-Off & Beach Baptism</p> 
                      </div>
                    </div>

                     <!--row 2 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"
                        id="small_show"><strong>Weds: </strong></p>
                        <p id = "large_show" class="text-center"><strong>Wednesdays: </strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around align-items-center">
                        <p>07: <br> Summer Share Night</p>
                        <p>14: <br> NO JHM</p>
                        <p>21: <br> NO JHM</p>
                        <p>28: <br> JHM</p>
                      </div>
                    </div>
                     <!--row 3 -->
                    <div class="row d-flex align-items-center">
                      <div class="col-3">
                        <p class="text-center"><strong>Events:</strong></p>
                      </div>
                      <div class="col-9 d-flex flex-row justify-content-around px-5 align-items-center">
                        <p>7/27-8/3: <br> Rise/ Rainbow Express</p>
                        <p>09: <br> JHM Beach Day</p>
                        <p>30-31: <br> Champions Camp Out</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- right margin -->
        <div class="col-sm-1 col-lg-2"></div>
    </div>




<% include ./partials/footer %>